<p id="notice"><%= notice %></p>

<div class="text-center">
  <h2><strong>Your post</strong></h2>

  <p><%= @post.content %></p>

  <br>
  <p><strong>Image:</strong> </p>
    <%= image_tag @post.image.url,class: "post-image"  %>
  <% if current_user.id == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post) , class: "btn btn-primary"%>
  <%end%>

  <%= link_to 'Back', posts_path , class: "btn btn-primary"%>

</div>
