<!DOCTYPE html>
<html>
  <head>
    <title>Facebook CLone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= display_meta_tags site: 'Instagram • Capture, edit & share photos, videos & messages with friends & family.',
                        keywords: %w[udemy instagram clone],
                        description: "Create an account or log in to Instagram - A simple, fun & creative way to capture, edit & share photos, videos & messages with friends & family."%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <%= favicon_link_tag 'icon.png' %>


  </head>

  <body>

      <header>
        <%= render 'layouts/header' %>
      </header>

      <%= yield %>


<br>
<br>
<br>
<br>
</body>
</html>


    <!-- <footer class="footer clearfix">
      <strong>Facebook Clone</strong> by <a href="https://github.com/Aminemba/The-Face.git">Amine Lh</a>. One Step at a Time ...
         <a href="https://diver.diveintocode.jp">Join us on Diver </a>.
    </footer> -->
